@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f9ff; /* premium light blue */
  color: #0f172a; /* slate-900 for readability */
  font-family: Inter, system-ui, sans-serif;
}
